<!--
  Generated template for the AddfinancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>เพิ่มข้อมูล</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="main-content time-manage mx-auto">
        <form action="">
            <div class="row">

                <div class="col-md-12">
                    <div class="d-flex person-select justify-content-center">
                        <h2>ชื่อ-สกุล</h2>
                        <input class="form-control" type="text" placeholder="นายกฤษณะ ตระกูลพรหม" (click)="presentModal()" disabled="true">
                        <button class="btn btn-danger" (click)="presentModal()"><i class="fas fa-user-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="choice d-flex justify-content-center">
                        <h2>เลือก</h2>
                        <div class="rs">
                            <div class="reason">
                                <select name="reason" class="form-control" id="reason" [(ngModel)]="reason" placeholder="กรุณาเลือก">
                                        <option value="credit">credit</option>
                                        <option value="short">ตัดshort</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="choice d-flex justify-content-center">
                        <h2 *ngIf="reason=='credit'">แผนก</h2>
                        <h2 *ngIf="reason=='short'">สาเหตุ</h2>
                        <div class="rs">
                            <div class="reason">
                                <select name="" class="form-control " id="reason" *ngIf="reason=='credit'">       
                                    <option value="1"> ห้องอาหาร</option> 
                                    <option value="2"> สนุกเกอร์</option> 
                                    <option value="3"> Fresh mart</option> 
                                    <option value="4"> นวด</option> 
                                    <option value="5"> Stand by</option> 
                                    <option value="6"> Ibar</option> 
                                    <option value="7"> คาราโอเกะ</option> 
                                 </select>
                                <select name="" class="form-control " id="reason" *ngIf="reason=='short'">       
                                    <option value="8"> ขาดงาน</option> 
                                    <option value="9"> เล่นมือถือ</option> 
                                    <option value="10"> นอนหลับ</option> 
                                    <option value="11"> ดื่มเหล้า</option> 
                                    <option value="12"> ลืมสแกนลายนิ้วมือ</option> 
                                 </select>
                                <h2 class="choice d-flex justify-content-center">วันที่ตัดshort</h2>
                                <ion-item name="" class="form-control " id="reason" *ngIf="reason=='short'">
                                    <ion-datetime displayFormat="DD MMM YYYY">เลือกวันที่</ion-datetime>
                                </ion-item>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex person-select justify-content-center">
                        <h2>เป็นเงิน</h2>
                        <input class="form-control" type="number" placeholder="ใส่จำนวนเงิน">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center btn-group">
                        <button class="btn btn-primary" (click)="backfinan()">บันทึก</button>
                        <button class="btn btn-danger" (click)="backfinan()">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</ion-content>