page-workgraph {
    .user-info {
        margin: 10px 0;
    }
    .work-graph {
        margin-top: 10px;
        thead {
            font-weight: bold;
            font-size: 16px;
        }
        tr {
            margin: 5px 0;
        }
        .timeline {
            width: 100%;
            // background: red;
        }
        .day {
            height: 30px;
        }
        .normal,
        .day13-normal,
        .day14-normal {
            background: green;
            width: 70%;
        }
        .normalmove{
            margin-left: 15%;
        }
        .late {
            background: red;
            width: 5%;
        }
        .normallate {
            background: green;
            width: 65%;
        }
        .ot {
            background: rgb(0, 170, 248);
            width: 15%;
        }
        .day1-dayoff {
            width: 100%;
            background: black;
        }
        .day14 {
            opacity: 0.5;
        }
    }
    #working-table {
        margin: 20px 0 50px 0;
        border-top: 1px solid rgb(116, 112, 112);
        .working-total {
            margin-top: 15px;
            border-bottom: 1px solid rgb(116, 112, 112);
            span {
                color: red;
            }
        }
        .table {
            margin-top: 20px;
        }
    }
    ion-fab {
        padding-bottom: 30px;
        padding-right: 20px;
        color: red;
        button {
            padding: 40px;
        }
        p {
            margin-top: 3px;
        }
        
    }
    .off {
        color: rgb(250, 7, 7);
    }

}