<ion-header>
  <ion-row text-right align-items-center>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>ตารางเวลางาน</ion-title>
    <button ion-button color="secondary" (click)="Addtime()">
      <ion-icon name="md-add-circle">เพิ่มตารางเวลา</ion-icon></button>
  </ion-navbar>
</ion-row>
</ion-header>




<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row text-center>
        <ion-col col-3>
          ชื่อเวลางาน
        </ion-col>
        <ion-col col-3>
          เวลา
        </ion-col>
        <ion-col col-3>
          จำนวนคน
        </ion-col>
         </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-list>
      <ion-item *ngFor="let member of members">
        <ion-row text-center align-items-center>
          <ion-col col-2>
            {{ member.tHName }}
          </ion-col>
          <ion-col col-2>
            {{ member.department }}
          </ion-col>
          
          
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
  
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
