page-worktable {
    .work-timeline {
        margin: 20px 0;
    }
    .graph {
        width: 100%;
        .time {
            height: 50px;
            color: white;
            p {
                margin-top: 14px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .time1 {
            width: 100%;
            // background: green;
        }
        // .time2 {
        //     width: 15%;
        //     background: red;
        // }
    }
}