page-addaction {
    .addaction {
        margin: 0 auto;
        width: 50%;
        .choice {
            padding-top: 30px;
            select {
                height: 40px;
                font-size: 14px;
                color: black;
                font-weight: bold;
            }
            .reason {
                margin-bottom: 20px;
            }
            option {
                font-size: px;
            }
            .sub-reason {
                padding: 10px 0;
            }
        }
    }
    .time-manage {
        height: 100%;
    }
    form {
        margin: 0 auto;
        text-align: center;
        width: 50%;
        background: white;
        position: relative;
        top: -16px;
        height: 100%;
        padding: 30px 30px 80px 30px;
        box-shadow: 5px 5px 15px 5px rgba(136, 134, 134, 0.5);
    }
    .person-select {
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        h2 {
            font-size: 20px;
            padding-top: 9px;
            margin-right: 20px;
        }
        input {
            width: 400px;
            height: 40px;
            font-size: 18px;
            border-radius: 10px 0px 0px 10px;
        }
        button {
            width: 70px;
            font-size: 20px;
            border-radius: 0px 10px 10px 0px;
        }
    }
    .choice {
        margin-top: 30px;
        margin-bottom: 10px;
        width: 100%;
        h2 {
            margin-right: 20px;
            font-size: 20px;
            padding-top: 9px;
        }
        select {
            font-size: 20px;
            width: 400px;
            height: 40px;
            color: #000;
            margin-bottom: 40px;
        }
    }
    .datetime-picker-start {
        padding: 10px;
    }
    .datetime-picker-start,
    .datetime-picker-end {
        label {
            font-size: 20px;
            padding-right: 10px;
        }
        input {
            margin-right: 10px;
        }
    }
    .btn-group {
        padding: 40px;
        .btn {
            padding: 10px 30px;
            margin: 10px;
            font-size: 16px;
        }
    }
}