page-form {
    
    ion-fab {
        padding-bottom: 30px;
        padding-right: 20px;
        color: red;
        button {
            padding: 40px;
        }
        p {
            margin-top: 3px;
        }
    }

}
